.box1{

    width: 100px;
    height: 100px;
    border: 1px solid red;
    padding: 10px;
    box-sizing: border-box;
}

.box2{

    width: 100px;
    height: 100px;
    border: 1px solid green;
    padding: 10px;
}

html{
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}