div{
    width: 100px;
    height: 100px;
    border: 4px solid orange;

    padding-left: 100px;
    padding-right: 700px;
    padding-top: 90px;
    padding-bottom: 100px;

    margin: 100px 200px;
}