.sky{
    background-color: #ccf2ff;
    width: 750px;
    height: 250px;
    padding-top: 50px;
}

body{
    margin-top: 100px;
    margin-left: 200px;
}

.sun{
    background-color: #ffcc00;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #e6b800;
    margin-left: 100px;
}

img{
    width: 100px;
    height: 100px;
    margin-left: 500px;
    background-color: #ccf2ff;
 
}

.mountain1{
    width: 500px;
    height: 250px;
    background-color: green;
    border-radius: 0 200% 0 0;
    margin: -110px 0 0 0;
    float: left;
}

.mountain2 {
    width: 500px;
    height: 250px;
    background-color: green;
    border-radius: 200% 0 0 0;
    margin: -110px 0 0 250px;
}