h1{
    display: inline-block;
    background-color: red;
    width: 150px;
    height: 100px;
}

p{
    display: inline;
    background-color: green;
}

span{
    display: block;
    background-color: yellow;

}