.container{
    display: grid;
    border: 1px solid black;
    padding: 10px;
    /*grid-template: 100px 200px 300px / repeat(3, 1fr);*/
    grid-template: 1fr/ repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    height: 700px;
    /*grid-template-areas: "A B B"*/
    /*                     "D E F"*/
    /*                     "G H F";*/
    /*place-items: start end;*/

}

.box{
    border: 1px solid blue;
    background-color: orange;
}

/*.box9{*/
/*    place-self: start;*/
/*}*/

/*.box7{*/
/*    order: -1;*/
/*}*/

/*.box4{*/
/*   !* grid-area: 2/1/3/3;*!*/
/*    grid-column: 1/span 2;*/
/*    grid-row: 2/3;*/

/*}*/

/*.box1{*/
/*    grid-area: A;*/
/*}*/
/*.box2{*/
/*    grid-area: B;*/
/*}*/
/*.box3{*/
/*    grid-area: C;*/
/*}*/
/*.box4{*/
/*    grid-area: D;*/
/*}*/
/*.box5{*/
/*    grid-area: E;*/
/*}*/
/*.box6{*/
/*    grid-area: F;*/
/*}*/
/*.box7{*/
/*    grid-area: G;*/
/*}*/
/*.box8{*/
/*    grid-area: H;*/
/*}*/
/*.box9{*/
/*    grid-area: I;*/
/*}*/