img{
	width: 250px;
    height: 250px;
    float: left;
}

body{
    border: 10px green solid;
}

h1
{
    color: red;
    align: center;
    text-transform: uppercase;
}

a{
    color: blue;
    font-weight: bold;
}

.out{
    margin: 10px;
}

.p2{
   text-decoration: underline;
}