@media screen and (min-width: 768px) and   (max-width: 1024px) {
    .container {
        width: 690px;
        border: 3px solid blue;
        margin: auto;

    }

    h1 {
        text-align: center;
    }

    .box {
        width: 250px;
        height: 250px;
        background-color: yellow;
        display: inline-block;
        margin: 10px;
    }
}


@media screen and (min-width: 500px) and   (max-width: 767px) {
    .container {
        width: 490px;
        border: 3px solid green;
        margin: auto;

    }

    h1 {
        text-align: center;
    }

    .box {
        width: 250px;
        height: 250px;
        background-color: red;
        display: inline-block;
        margin: 10px;
    }
}


